@page "/projects"
@page "/projects/index"

@using BlazorPro.Spinkit
@using KFA.SupportAssistant.RCL.Services
@inject ILocalStorageService localStorageService
@inject IUserService userService

<h3>Projects Index</h3>

@code {

}
