<div class="relative m-0 p-0 flex w-full flex-wrap items-stretch">
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 20 20"
         fill="currentColor"
         class="h-5 w-5 mt-3 ml-1 text-blue-three absolute z-[2]">
        <path fill-rule="evenodd"
              d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
              clip-rule="evenodd" />
    </svg>

    <input type="search"
           class="relative m-0 -mr-0.5 block min-w-0 flex-auto rounded-l bg-clip-padding pl-6 text-base font-normal leading-[1.6]  outline-none transition duration-200 ease-in-out focus:z-[1]  text-input"
           placeholder=@PlaceHolder
           @bind="SearchText"
           @onkeydown="@Enter"
           aria-label="Search"
           aria-describedby="button-search" />
</div>

@code {
    //RenderFragment? searchIconSVG { get; set; }

    [Parameter]
    public string PlaceHolder { get; set; } = "Search";

    [Parameter]
    public Action<string?>? SearchFunc { get; set; }

    private string? SearchText { get; set; }

    private void handleClick(object obj, EventArgs e)
    {
        try
        {
            SearchFunc?.Invoke(SearchText);
        }
        catch (Exception)
        {

        }
    }

    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            try
            {
            SearchFunc?.Invoke(SearchText);
            }
            catch (Exception)
            {

            }
        }
    }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        //searchIconSVG = RCL.SVGIcons.Search.AsSVGIcon();
    }
}
