@page "/sales"
@page "/sales/index"

@using BlazorPro.Spinkit
@using KFA.SupportAssistant.RCL.Services
@inject ILocalStorageService localStorageService
@inject IUserService userService

<h3>Sales Index</h3>

@code {

}
