@page "/about-us"
@page "/about-us/index"


@using BlazorPro.Spinkit
@using KFA.SupportAssistant.RCL.Services
@inject ILocalStorageService localStorageService
@inject IUserService userService

<h3>About Us Index</h3>

@code {

}
