@page "/general-ledgers"
@page "/general-ledgers/index"

@using BlazorPro.Spinkit
@using KFA.SupportAssistant.RCL.Services
@inject ILocalStorageService localStorageService
@inject IUserService userService

<h3>General Ledgers Index</h3>

@code {

}
