@using KFA.SupportAssistant.RCL.State.MainTitle
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject IDispatcher dispatcher
@inject IState<MainTitleState> mainTitleState

<div class="page">
    <div class="sidebar bg-lighterBlue-two" style="background-image:none;">       
        <AuthorizeView>
            <Authorized>
                <NavMenu />
            </Authorized>
        </AuthorizeView>
    </div>

    <main>
        <div class="top-0 w-full flex align-items-end flex-row bg-lighterBlue-two">            

            <div class="top-0 px-4">      
                <AuthorizeView>
                    <Authorized>
                        <a href="/log-out" class="col-3 mt-4 mr-3 ml-auto">Log Out</a>
                        <span class="main-title">@mainTitleState.Value.MainTitle</span>
                    </Authorized>
                    <NotAuthorized>                       
                        <a href="/login" class="col-3 mt-4 mr-3 ml-auto">Login</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{

    protected override void OnInitialized(){
        base.OnInitialized();
       
    }
}
