<div class="top-0">
    <div class="w-full">
        <a class="main-title font-[68px] w-full mx-3 my-1" href=""><img src="./images/icon.png" class="w-24 h-24 mx-auto my-1 " /></a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="ml-3 bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu menu-label" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sukuta">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sukuta Boys
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eventhandling">
                <span class="oi oi-bell" aria-hidden="true"></span> Event Handling
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="authorization">
                <span class="oi oi-account-login" aria-hidden="true"></span> Authorization
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="authors">
                <span class="oi oi-people" aria-hidden="true"></span> Authors
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="publishers">
                <span class="oi oi-book" aria-hidden="true"></span> Publishers
            </NavLink>
        </div>
    </nav>
</div>
