
<div class="card flex justify-center flex-wrap p-2 rounded-md  w-fit max-w-[1024px]">
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Full Name</label>
        <input type="email" class="form-input mx-4 mt-0 mb-3 text-input rounded-full">
    </div>
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Full Name</label>
        <input type="email" class="form-input mx-4 mt-0 mb-3 text-input rounded-full">
    </div>
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Full Name</label>
        <input type="email" class="form-input mx-4 mt-0 mb-3 text-input rounded-full">
    </div>
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Full Name</label>
        <input type="email" class="form-input mx-4 mt-0 mb-3 text-input rounded-full">
    </div>
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Full Name</label>
        <input type="email" class="form-input mx-4 mt-0 mb-3 text-input rounded-full">
    </div>
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Full Name</label>
        <input type="email" class="form-input mx-4 mt-0 mb-3 text-input rounded-full">
    </div>
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Full Name</label>
        <input type="email" class="form-input mx-4 mt-0 mb-3 text-input rounded-full">
    </div>
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Full Name</label>
        <input type="email" class="form-input mx-4 mt-0 mb-3 text-input rounded-full">
    </div>
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Full Name</label>
        <input type="email" class="form-input mx-4 mt-0 mb-3 text-input rounded-full">
    </div>
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Full Name</label>
        <input type="email" class="form-input mx-4 mt-0 mb-4 text-input rounded-full">
    </div>
</div>

@code {

}
