
<div class="card flex justify-center flex-wrap p-2 rounded-md  w-fit max-w-[1024px]">
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Payroll Number</label>
        <input type="email" class="form-input mx-4 mt-0 mb-3 text-input rounded-full">
    </div>
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Full Name</label>
        <input type="email" class="form-input mx-4 mt-0 mb-3 text-input rounded-full">
    </div>
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Id Number</label>
        <input type="email" class="form-input mx-4 mt-0 mb-3 text-input rounded-full">
    </div>
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Cost Centre</label>
        <input type="email" class="form-input mx-4 mt-0 mb-3 text-input rounded-full">
    </div>
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Phone Number</label>
        <input type="email" class="form-input mx-4 mt-0 mb-3 text-input rounded-full">
    </div>
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Email</label>
        <input type="email" class="form-input mx-4 mt-0 mb-3 text-input rounded-full">
    </div>
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Gender</label>
		<div class="flex flex-row">
			<label class="text-customBlack-two outline-none font-medium mt-3 ml-2">Male</label>
			<input type="radio" class="form-input mx-0 mt-0 mb-3 text-input" id="Male" name="fav_language" value="Male">
			<label class="text-customBlack-two outline-none font-medium mt-3">Female</label>
			<input type="radio" class="form-input mx-0 mt-0 mb-3 text-input" id="Female" name="fav_language" value="Female">
			<label class="text-customBlack-two outline-none font-medium mt-3">Other</label>
			<input type="radio" class="form-input mx-0 mt-0 mb-3 text-input" id="Other" name="fav_language" value="Other">
		</div>
    </div>
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Classification</label>
        <input type="email" class="form-input mx-4 mt-0 mb-3 text-input rounded-full">
    </div>
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Payroll Group</label>
        <input type="email" class="form-input mx-4 mt-0 mb-3 text-input rounded-full">
    </div>
    <div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
        <label class="text-label">Retrenchment Date</label>
        <input type="email" class="form-input mx-4 mt-0 mb-4 text-input rounded-full">
    </div>
	<div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
		<label class="text-label">Retrenchment Amount</label>
		<input type="email" class="form-input mx-4 mt-0 mb-4 text-input rounded-full">
	</div>
	<div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
		<label class="text-label">Rejoin Date</label>
		<input type="email" class="form-input mx-4 mt-0 mb-4 text-input rounded-full">
	</div>
	<div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
		<label class="text-label">Retirement Date</label>
		<input type="email" class="form-input mx-4 mt-0 mb-4 text-input rounded-full">
	</div>
	<div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
		<label class="text-label">Retirement Amount</label>
		<input type="email" class="form-input mx-4 mt-0 mb-4 text-input rounded-full">
	</div>
	<div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
		<label class="text-label">Remarks</label>
		<input type="email" class="form-input mx-4 mt-0 mb-4 text-input rounded-full">
	</div>
	<div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
		<label class="text-label">Narration</label>
		<input type="email" class="form-input mx-4 mt-0 mb-4 text-input rounded-full">
	</div>
	<div class="sm:w-full md:w-[calc(100%/2-12px)] mx-1 lg:w-[calc(100%/3-12px)]">
		<label class="form-input mx-4 mt-0 mb-4 text-input rounded-full">Total Amount Due: 3,786,768.00</label>
	</div>
</div>

@code {

}
