@attribute [Route(Constants.Employeelist)]

@using BlazorPro.Spinkit
@using KFA.SupportAssistant.RCL.Services
@inject ILocalStorageService localStorageService
@inject IUserService userService

<h3>EmployeeList</h3>

@code {

}
