@page "/employees"
@page "/employees/index"

@using BlazorPro.Spinkit
@using KFA.SupportAssistant.RCL.Services
@inject ILocalStorageService localStorageService
@inject IUserService userService

<h3>Employee Details Index</h3>

@code {

}
