@attribute [Route(Constants.PaymentDetails)]

@using BlazorPro.Spinkit
@using KFA.SupportAssistant.RCL.Services
@inject ILocalStorageService localStorageService
@inject IUserService userService

<h3>PaymentDetails</h3>

@code {

}

