
@page "/account-receivables"
@page "/account-receivables/index"

@using BlazorPro.Spinkit
@using KFA.SupportAssistant.RCL.Services
@inject ILocalStorageService localStorageService
@inject IUserService userService

<h3>Account Receivables Index</h3>

@code {

}
