
@page "/account-payables"
@page "/account-payables/index"

@using BlazorPro.Spinkit
@using KFA.SupportAssistant.RCL.Services
@inject ILocalStorageService localStorageService
@inject IUserService userService

<h3>Account Payables Index</h3>

@code {

}
