@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Mukta', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-lighterBlue-two;
}

.main_background {
    @apply bg-blue-three;
}

.nav-link {
    @apply bg-lighterBlue-one text-blue-three btn-animate font-bold opacity-100;
}

.btn-primary {
    @apply bg-blue-three cursor-pointer tracking-wider whitespace-nowrap text-white rounded-[10px] p-[10px] pe-[40px] ps-[40px] min-h-[42px] font-semibold mt-0 overflow-hidden shadow-md leading-tight focus:outline-none relative hover:shadow-inner transform hover:scale-105 hover:bg-opacity-80 transition ease-out duration-300;
}

.btn-danger {
    @apply bg-red-400 text-blue-three cursor-pointer tracking-wider whitespace-nowrap text-white rounded-[10px] p-[10px] pe-[40px] ps-[40px] min-h-[42px] font-semibold mt-0 overflow-hidden shadow-md leading-tight focus:outline-none relative hover:shadow-inner transform hover:scale-105 hover:bg-opacity-80 transition ease-out duration-300;
}

.btn-animate {
    @apply cursor-pointer focus:outline-none hover:shadow-inner transform hover:scale-105 hover:bg-opacity-80 transition ease-out duration-300;
}

.btn-secondary {
    @apply cursor-pointer tracking-wider leading-tight focus:outline-none relative hover:shadow-inner transform hover:scale-105 hover:bg-opacity-80 transition ease-out duration-300;
}

.badge {
    @apply bg-red-600 text-white text-xs font-bold rounded-full p-2 absolute;
}

.card {
    @apply rounded overflow-hidden shadow-md relative;
}

.label {
    @apply transform hover:scale-100 hover:bg-opacity-60 transition ease-out duration-300;
}

.menu-label {
    @apply transform hover:scale-100 hover:bg-opacity-40 font-bold transition ease-out duration-300 text-[12px] text-blue-one;
}

.main-title {
    @apply relative font-bold font-mukta leading-8 text-xl;
}

.main-sub-title {
    @apply relative underline font-bold font-mukta leading-8 text-md;
}

.profile-form {
    @apply font-mukta px-3 py-3 h-full w-full border-solid border-lightGray-two border rounded-md overflow-y-scroll;
}

.sidebar_menu {
    @apply bg-transparent font-mukta text-xl;
}

.text-input {
    @apply text-customBlack-one bg-lighterBlue-three h-[42px] w-full border-2 border-lightBlue-three focus:border-blue-three hover:border-blue-two rounded-[5px] text-[16px] relative outline-none transform hover:translate-y-1 hover:bg-opacity-80 transition ease-out duration-300 focus:outline-none focus:shadow-blue-three;
}

.side-bar-item {
    @apply flex items-center text-blue-200 opacity-75 hover:opacity-100 bg-lighterBlue-three py-2 pl-4 my-1;
}

.text-label {
    @apply text-customBlack-two outline-none px-[8px] py-[12px] font-bold w-[150px] min-w-[150px];
}

.data-label {
    @apply outline-none font-mukta text-customBlack-three bg-lighterBlue-two font-medium w-full h-full px-[8px] py-[22px];
}

.icon {
    @apply p-[8px] pl-[15px] mt-[3px] min-w-[30px] text-center outline-none;
}


.close-icon {
    @apply p-0 overflow-hidden border-lightGray-two outline-none bg-customBlack-three rounded;
}

::deep .quickgrid[theme="corporate"] {
    @apply text-[red];
    font-family: "Comic Sans MS", "Times New Roman", serif;
}

::deep .quickgrid {
    @apply text-[red];
    font-family: "Comic Sans MS", "Times New Roman", serif;
}

::deep .quickgrid[theme="corporate"] .col-title {
    @apply gap-[0.4rem] font-[bold] uppercase;
    /* Separate the sort indicator from title text */
}

::deep .quickgrid[theme="corporate"] .sort-indicator {
    @apply text-[blue];
}

::deep .quickgrid[theme="corporate"] button.col-title:hover,
::deep .quickgrid[theme="corporate"] .col-options-button:hover {
    @apply bg-[hotpink];
}

::deep .quickgrid[theme="corporate"] button.col-title:active,
::deep .quickgrid[theme="corporate"] .col-options-button:active {
    @apply bg-[yellow];
}

::deep .quickgrid[theme="corporate"] tbody tr {
    @apply bg-[rgba(0,0,0,0.04)];
}

    ::deep .quickgrid[theme="corporate"] tbody tr:nth-child(even) {
        background: rgba(255, 255, 255, 0.4);
    }


/* Magnifying glass */
::deep .country-name .col-options-button {
    @apply bg-[url('data:image/svg+xml;utf8,<svg_xmlns="http://www.w3.org/2000/svg"_class="h-6_w-6"_fill="none"_viewBox="0_0_24_24"_stroke="currentColor"_stroke-width="2">_<path_stroke-linecap="round"_stroke-linejoin="round"_d="M21_21l-6-6m2-5a7_7_0_11-14_0_7_7_0_0114_0z"_/>_</svg>')];
}
